
body {

  color: #424242;
  margin: inherit 0px;
  font-family: "Courier New", courier, monospace;
  background-color: #f5f6f6;

}

pre {

  margin: 0px;

}

pre code {

  display: block;

}

h1, h2, p {

  width: 700px;
  font-size: 20px;
  line-height: 30px;
  margin: 1em auto;

}

#disqus_thread {

  width: 700px;
  margin: 1em auto;

}

.highlight {

  width: 700px;
  margin: 1em auto;
  border-left: 5px solid #9ebae9;
  background-color: #eceeee;

}
