@font-face {
  font-family: 'Inconsolata';
  src: url('/static/font/inconsolata.otf');
}

@font-face {
  font-family: 'Chunk';
  src: url('/static/font/chunk.otf');
}

html {
  color: #111;
  font-family: 'Georgia', serif;
}

code {
  font-family: 'Inconsolata';
}

pre {
  padding-left: 15px;
  word-wrap: break-word;
  border-left: 5px solid #0881b3;
  margin: 2em 0em;
}

h1, h2, h3 {
  font-weight: normal;
  font-family: 'Chunk';
}

a {
  color: #0881b3;
}

.left-side h2 {
  color: #666;
}

.right-side {
  margin-top: 133px;
}

.right-side p {
  font-size: 1.1em;
  line-height: 2em;
}

.right-side.entry-content h2 {
  margin: 2em 0em;
}

.entries {
  list-style-type: none;
}

.entries a {
  color: #111;
  text-decoration: none;
}

.entries a:hover h2 {
  color: #0881b3;
}

.entry h2 small {
  color: #666;
}

#my-face {
  width: 133px;
  height: 133px;
  margin: 0px auto;
  border-radius: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/static/img/photo.jpeg');
}
