
body {

  color: #424242;
  background-color: #f5f6f6;
  font-family: "Courier New", courier, monospace;

}

h1, h2, p {

  width: 700px;
  font-size: 20px;
  line-height: 30px;
  margin: 1em auto;

}

pre {

  width: 700px;
  margin: 1em auto;

}

#disqus_thread {

  width: 700px;
  margin: 1em auto;

}

.highlight {

  width: 100%;
  background-color: #fff;

}
