<!DOCTYPE html>
<html lang="en">
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} &mdash; rycole.com</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/pygments.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38004938-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
      var disqus_shortname = 'rycolecom';

      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span4 left-side">
          <a href="/"><div id="my-face"></div></a>
          <h1>{{ page.title }}</h1>
          <h2>{{ page.date | date:"%b %d, %Y" }}</h2>
        </div>
        <div class="span8 right-side entry-content">
          {{ content }}
        </div>
      </div>
      <div class="row comments">
          <div class="span8 offset4" id="disqus_thread"></div>
      </div>
    </div>
  </body>
</html>
